# Ignore the .env file to keep sensitive data secure
.env

# Ignore the path download directory only
downloads/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log


